[submodule "zmk"]
	path = zmk
	url = https://github.com/zmkfirmware/zmk.git
[submodule "trackball-zmk-config"]
	path = trackball-zmk-config
	url = git@github.com:efogdev/trackball-zmk-config.git
[submodule "zmk-pointer-2s-mixer"]
	path = zmk-pointer-2s-mixer
	url = git@github.com:efogdev/zmk-pointer-2s-mixer.git
[submodule "trackball-bootloader"]
	path = trackball-bootloader
	url = git@github.com:efogdev/trackball-bootloader.git
[submodule "zmk-pmw3610-driver"]
	path = zmk-pmw3610-driver
	url = git@github.com:efogdev/zmk-pmw3610-driver.git
[submodule "endgame-trackball-config"]
	path = endgame-trackball-config
	url = https://github.com/evnoj/endgame-trackball-config-ev.git
[submodule "endgame-trackball-bootloader"]
	path = endgame-trackball-bootloader
	url = git@github.com:efogtech/endgame-trackball-bootloader.git
[submodule "zmk-axis-clamper"]
	path = zmk-axis-clamper
	url = git@github.com:efogdev/zmk-axis-clamper.git
[submodule "zmk-input-processor-report-rate-limit"]
	path = zmk-input-processor-report-rate-limit
	url = git@github.com:efogdev/zmk-input-processor-report-rate-limit.git
[submodule "zmk-ec11-ish-driver"]
	path = zmk-ec11-ish-driver
	url = git@github.com:efogdev/zmk-ec11-ish-driver.git
[submodule "zmk-report-rate-limit"]
	path = zmk-report-rate-limit
	url = git@github.com:efogdev/zmk-report-rate-limit.git
[submodule "zmk-auto-hold"]
	path = zmk-auto-hold
	url = git@github.com:efogdev/zmk-auto-hold.git
	branch = main
[submodule "zmk-trigger-on-boot"]
	path = zmk-trigger-on-boot
	url = git@github.com:efogdev/zmk-trigger-on-boot.git
	branch = main
[submodule "zmk-behavior-follower"]
	path = zmk-behavior-follower
	url = git@github.com:efogdev/zmk-behavior-follower.git
[submodule "zmk-acceleration-curves"]
	path = zmk-acceleration-curves
	url = git@github.com:efogdev/zmk-acceleration-curves.git
[submodule "zmk-keymap-shell"]
	path = zmk-keymap-shell
	url = git@github.com:efogdev/zmk-keymap-shell.git
[submodule "zmk-paw3395-driver"]
	path = zmk-paw3395-driver
	url = git@github.com:efogdev/zmk-paw3395-driver.git
[submodule "zmk-input-processor-rotate-plane"]
	path = zmk-rotate-plane
	url = git@github.com:efogdev/zmk-input-processor-rotate-plane.git
[submodule "zmk-runtime-config"]
	path = zmk-runtime-config
	url = https://github.com/efogdev/zmk-runtime-config.git
[submodule "zmk-adaptive-feedback"]
	path = zmk-adaptive-feedback
	url = https://github.com/efogdev/zmk-adaptive-feedback.git
[submodule "zmk-bistable-behavior"]
	path = zmk-bistable-behavior
	url = https://github.com/efogdev/zmk-bistable-behavior.git
[submodule "zmk-ble-shell"]
	path = zmk-ble-shell
	url = https://github.com/efogdev/zmk-ble-shell.git
[submodule "zmk-esb-endpoint"]
	path = zmk-esb-endpoint
	url = https://github.com/efogdev/zmk-esb-endpoint.git
[submodule "zmk-feedback-common"]
	path = zmk-feedback-common
	url = https://github.com/efogdev/zmk-feedback-common.git
[submodule "zmk-shell-relay-core"]
	path = zmk-shell-relay-core
	url = https://github.com/efogdev/zmk-shell-relay-core.git
